@import "@radically-straightforward/css/static/index.css";
@import "tippy.js/dist/tippy.css";

[key="global-error"] {
  text-align: center;
  color: light-dark(var(--color--red--800), var(--color--red--200));
  background-color: light-dark(var(--color--red--50), var(--color--red--950));
  max-width: var(--space--96);
  padding: var(--space--1) var(--space--2);
  border: var(--border-width--1) solid
    light-dark(var(--color--red--400), var(--color--red--600));
  border-radius: var(--border-radius--1);
  box-shadow: var(--box-shadow--4);
  margin: var(--space--0) auto;
  position: fixed;
  top: var(--space--8);
  left: var(--space--2);
  right: var(--space--2);
  z-index: 1000;
}

[key="progress-bar"] {
  background-color: light-dark(
    var(--color--blue--500),
    var(--color--blue--500)
  );
  height: var(--space--1);
  border-bottom: var(--border-width--1) solid
    light-dark(var(--color--blue--700), var(--color--blue--700));
  border-right: var(--border-width--1) solid
    light-dark(var(--color--blue--700), var(--color--blue--700));
  box-shadow: var(--box-shadow--4);
  position: fixed;
  top: var(--space--0);
  right: var(--space--0);
  left: var(--space--0);
  z-index: 2000;
  transition-property: width;
  transition-duration: var(--transition-duration--300);
  transition-timing-function: var(--transition-timing-function--ease-in-out);
}
