@import "tippy.js/dist/tippy.css";

[key="progress-bar"] {
  background-color: #3b82f6;
  height: 4px;
  border-bottom: 1px solid #1d4ed8;
  border-right: 1px solid #1d4ed8;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
