@import "@radically-straightforward/css/static/index.css";

.popover {
  font-size: var(--font-size--3-5);
  line-height: var(--font-size--3-5--line-height);
  font-weight: 400;
  color: light-dark(var(--color--black), var(--color--white));
  background-color: light-dark(
    var(--color--slate--50),
    var(--color--slate--950)
  );
  width: max-content;
  max-width: min(calc(100% - var(--space--8)), var(--space--96));
  padding: var(--space--1) var(--space--2);
  border: var(--border-width--1) solid
    light-dark(var(--color--slate--400), var(--color--slate--600));
  border-radius: var(--border-radius--1);
  box-shadow: var(--box-shadow--4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transition-property: var(--transition-property--opacity);
  transition-duration: var(--transition-duration--150);
  transition-timing-function: var(--transition-timing-function--ease-in-out);
  &:not([state~="open"]) {
    visibility: hidden;
    opacity: var(--opacity--0);
  }
  &.popover--error {
    color: light-dark(var(--color--red--800), var(--color--red--200));
    background-color: light-dark(var(--color--red--50), var(--color--red--950));
    border-color: light-dark(var(--color--red--400), var(--color--red--600));
  }
  &.popover--red {
    color: light-dark(var(--color--red--800), var(--color--red--200));
    background-color: light-dark(var(--color--red--50), var(--color--red--950));
    border-color: light-dark(var(--color--red--400), var(--color--red--600));
  }
  &.popover--orange {
    color: light-dark(var(--color--orange--800), var(--color--orange--200));
    background-color: light-dark(
      var(--color--orange--50),
      var(--color--orange--950)
    );
    border-color: light-dark(
      var(--color--orange--400),
      var(--color--orange--600)
    );
  }
  &.popover--amber {
    color: light-dark(var(--color--amber--800), var(--color--amber--200));
    background-color: light-dark(
      var(--color--amber--50),
      var(--color--amber--950)
    );
    border-color: light-dark(
      var(--color--amber--400),
      var(--color--amber--600)
    );
  }
  &.popover--yellow {
    color: light-dark(var(--color--yellow--800), var(--color--yellow--200));
    background-color: light-dark(
      var(--color--yellow--50),
      var(--color--yellow--950)
    );
    border-color: light-dark(
      var(--color--yellow--400),
      var(--color--yellow--600)
    );
  }
  &.popover--lime {
    color: light-dark(var(--color--lime--800), var(--color--lime--200));
    background-color: light-dark(
      var(--color--lime--50),
      var(--color--lime--950)
    );
    border-color: light-dark(var(--color--lime--400), var(--color--lime--600));
  }
  &.popover--green {
    color: light-dark(var(--color--green--800), var(--color--green--200));
    background-color: light-dark(
      var(--color--green--50),
      var(--color--green--950)
    );
    border-color: light-dark(
      var(--color--green--400),
      var(--color--green--600)
    );
  }
  &.popover--emerald {
    color: light-dark(var(--color--emerald--800), var(--color--emerald--200));
    background-color: light-dark(
      var(--color--emerald--50),
      var(--color--emerald--950)
    );
    border-color: light-dark(
      var(--color--emerald--400),
      var(--color--emerald--600)
    );
  }
  &.popover--teal {
    color: light-dark(var(--color--teal--800), var(--color--teal--200));
    background-color: light-dark(
      var(--color--teal--50),
      var(--color--teal--950)
    );
    border-color: light-dark(var(--color--teal--400), var(--color--teal--600));
  }
  &.popover--cyan {
    color: light-dark(var(--color--cyan--800), var(--color--cyan--200));
    background-color: light-dark(
      var(--color--cyan--50),
      var(--color--cyan--950)
    );
    border-color: light-dark(var(--color--cyan--400), var(--color--cyan--600));
  }
  &.popover--sky {
    color: light-dark(var(--color--sky--800), var(--color--sky--200));
    background-color: light-dark(var(--color--sky--50), var(--color--sky--950));
    border-color: light-dark(var(--color--sky--400), var(--color--sky--600));
  }
  &.popover--blue {
    color: light-dark(var(--color--blue--800), var(--color--blue--200));
    background-color: light-dark(
      var(--color--blue--50),
      var(--color--blue--950)
    );
    border-color: light-dark(var(--color--blue--400), var(--color--blue--600));
  }
  &.popover--indigo {
    color: light-dark(var(--color--indigo--800), var(--color--indigo--200));
    background-color: light-dark(
      var(--color--indigo--50),
      var(--color--indigo--950)
    );
    border-color: light-dark(
      var(--color--indigo--400),
      var(--color--indigo--600)
    );
  }
  &.popover--violet {
    color: light-dark(var(--color--violet--800), var(--color--violet--200));
    background-color: light-dark(
      var(--color--violet--50),
      var(--color--violet--950)
    );
    border-color: light-dark(
      var(--color--violet--400),
      var(--color--violet--600)
    );
  }
  &.popover--purple {
    color: light-dark(var(--color--purple--800), var(--color--purple--200));
    background-color: light-dark(
      var(--color--purple--50),
      var(--color--purple--950)
    );
    border-color: light-dark(
      var(--color--purple--400),
      var(--color--purple--600)
    );
  }
  &.popover--fuchsia {
    color: light-dark(var(--color--fuchsia--800), var(--color--fuchsia--200));
    background-color: light-dark(
      var(--color--fuchsia--50),
      var(--color--fuchsia--950)
    );
    border-color: light-dark(
      var(--color--fuchsia--400),
      var(--color--fuchsia--600)
    );
  }
  &.popover--pink {
    color: light-dark(var(--color--pink--800), var(--color--pink--200));
    background-color: light-dark(
      var(--color--pink--50),
      var(--color--pink--950)
    );
    border-color: light-dark(var(--color--pink--400), var(--color--pink--600));
  }
  &.popover--rose {
    color: light-dark(var(--color--rose--800), var(--color--rose--200));
    background-color: light-dark(
      var(--color--rose--50),
      var(--color--rose--950)
    );
    border-color: light-dark(var(--color--rose--400), var(--color--rose--600));
  }
}

[key="global-error"] {
  color: light-dark(var(--color--red--800), var(--color--red--200));
  background-color: light-dark(var(--color--red--50), var(--color--red--950));
  width: max-content;
  max-width: min(calc(100% - var(--space--8)), var(--space--96));
  padding: var(--space--1) var(--space--2);
  border: var(--border-width--1) solid
    light-dark(var(--color--red--400), var(--color--red--600));
  border-radius: var(--border-radius--1);
  margin: var(--space--0) auto;
  box-shadow: var(--box-shadow--4);
  position: fixed;
  top: var(--space--8);
  left: var(--space--2);
  right: var(--space--2);
  z-index: 2000;
}

[key="progress-bar"] {
  background-color: light-dark(
    var(--color--blue--500),
    var(--color--blue--500)
  );
  height: var(--space--1);
  border-bottom: var(--border-width--1) solid
    light-dark(var(--color--blue--700), var(--color--blue--700));
  border-right: var(--border-width--1) solid
    light-dark(var(--color--blue--700), var(--color--blue--700));
  box-shadow: var(--box-shadow--4);
  position: fixed;
  top: var(--space--0);
  right: var(--space--0);
  left: var(--space--0);
  z-index: 3000;
  transition-property: width;
  transition-duration: var(--transition-duration--300);
  transition-timing-function: var(--transition-timing-function--ease-in-out);
}
