:root {
  --contrast--0: 0;
  --contrast--50: 0.5;
  --contrast--75: 0.75;
  --contrast--100: 1;
  --contrast--125: 1.25;
  --contrast--150: 1.5;
  --contrast--200: 2;

  --saturate--0: 0;
  --saturate--50: 0.5;
  --saturate--100: 1;
  --saturate--150: 1.5;
  --saturate--200: 2;

  --blur--none: 0px;
  --blur--sm: 4px;
  --blur--base: 8px;
  --blur--md: 12px;
  --blur--lg: 16px;
  --blur--xl: 24px;
  --blur--2xl: 40px;
  --blur--3xl: 64px;

  --sepia--0: 0;
  --sepia--base: 100%;

  --drop-shadow--none: 0 0 #0000;
  --drop-shadow--sm: 0 1px 1px rgba(0, 0, 0, 0.05);
  --drop-shadow--base: 0 1px 2px rgba(0, 0, 0, 0.1),
    0 1px 1px rgba(0, 0, 0, 0.06);
  --drop-shadow--md: 0 4px 3px rgba(0, 0, 0, 0.07),
    0 2px 2px rgba(0, 0, 0, 0.06);
  --drop-shadow--lg: 0 10px 8px rgba(0, 0, 0, 0.04),
    0 4px 3px rgba(0, 0, 0, 0.1);
  --drop-shadow--xl: 0 20px 13px rgba(0, 0, 0, 0.03),
    0 8px 5px rgba(0, 0, 0, 0.08);
  --drop-shadow--2xl: 0 25px 25px rgba(0, 0, 0, 0.15);

  --transition-property--none: none;
  --transition-property--all: all;
  --transition-property--base: background-color, border-color, color, fill,
    stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  --transition-property--colors: background-color, border-color, color, fill,
    stroke;
  --transition-property--opacity: opacity;
  --transition-property--box-shadow: box-shadow;
  --transition-property--transform: transform;

  --transition-duration--75: 75ms;
  --transition-duration--100: 100ms;
  --transition-duration--150: 150ms;
  --transition-duration--200: 200ms;
  --transition-duration--300: 300ms;
  --transition-duration--500: 500ms;
  --transition-duration--700: 700ms;
  --transition-duration--1000: 1000ms;

  @media (prefers-reduced-motion: reduce) {
    --transition-duration--75: 1ms;
    --transition-duration--100: 1ms;
    --transition-duration--150: 1ms;
    --transition-duration--200: 1ms;
    --transition-duration--300: 1ms;
    --transition-duration--500: 1ms;
    --transition-duration--700: 1ms;
    --transition-duration--1000: 1ms;
  }

  --transition-timing-function--base: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-timing-function--linear: linear;
  --transition-timing-function--in: cubic-bezier(0.4, 0, 1, 1);
  --transition-timing-function--out: cubic-bezier(0, 0, 0.2, 1);
  --transition-timing-function--in-out: cubic-bezier(0.4, 0, 0.2, 1);

  --animation--none: none;
  --animation--spin: spin 1s linear infinite;
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  --animation--ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  --animation--pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  --animation--bounce: bounce 1s infinite;
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0%);
      animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(-20%);
      animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
